@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;400;500&display=swap');
@import '../../variables.scss';

*,
:after,
:before {
  box-sizing: border-box;
  font-family: 'JetBrains Mono', monospace;
}

html {
  line-height: 140%;
  -webkit-text-size-adjust: 140%;
  font-size: 16pt;
}

body {
  margin: 0;
  padding: 0;
  background-color: $background;
  color: $font-color-base;
}

input,
button {
  background-color: $input-background;
  border: 1px solid $input-border;
  border-radius: 0.25rem;
  color: $font-color-inputs;
  font-size: 100%;
  height: 2.375rem;
  outline: none !important;
  text-align: center;

  &:focus {
    border-color: #e4b781;
  }

  & + label {
    border: 1px solid $input-border;
    background-color: $input-background;
    border-radius: 0.25rem;
    font-size: 10pt;
    height: 1rem;
    left: 0.75rem;
    line-height: 0.375rem;
    padding: 0.25rem 0.375rem;
    top: -0.5rem;
    position: absolute;
    text-transform: uppercase;
  }
}

h1 {
  font-weight: 100;
  padding-bottom: 0.5rem;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem;
  width: 100%;
}
