@import '../../variables.scss';

.input-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 0.75rem;
  width: 100%;

  &__inputs {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;

    &__container {
      position: relative;

      &__counter {
      }

      &__template {
        flex-grow: 1;
      }

      @media (max-width: $size-media-query) {
        font-size: medium;

        &__button {
          width: 100%;
        }
      }
    }
  }
}
