$background: #062e32;

$font-color-base: #5b858b;
$font-color-inputs: #e4b781;

$input-border: #e66533;
$input-background: #052629;

$header-underline: #5b858b33;

$size-container-max: 900px;

$size-media-query: 600px;
